@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 60px;
    font-family: "Poppins", sans-serif;
    width: 90%;
    margin: auto;
}


.container {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 6px;
    max-width: 100%;
    background: #fff;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.container:hover {
    transform: translateY(-5px); 
}

.container h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #018882;
    text-align: center;
}


.container .form {
    margin-top: 30px;
}


.form .input-box {
    width: 89%;
    margin-top: 10px;
}

.input-box label {
    color: #333;
    font-size: 1rem;
}

.form .input-box input[type="number"]::-webkit-outer-spin-button,
.form .input-box input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 3px;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    padding: 0 15px;
    transition: all 0.3s ease; 
}


.form .input-box input:hover,
.form .input-box input:focus {
    border-color: #018882;
    box-shadow: 0 0 5px rgba(1, 136, 130, 0.5); 
}


.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    background-color: #018882;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.form button:hover {
    background-color: #016f6a; 
    transform: translateY(-3px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.error-loading {
    margin-top: 10px;
    text-align: center;
    color: red;
}



